@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a Itech Project</h1>
    <p>
        Somos un equipo de estudiantes apasionados por la tecnología que cursan el tercer año de la carrera de analista de sistemas con el profesor Senatori.
        Nos apasiona la tecnología y buscamos constantemente nuevas ideas y soluciones para los problemas del mundo real. Estamos comprometidos con la formación y la actualización constante de nuestros conocimientos..
    </p>
    <img src="~/IP.png" alt="Imagen del equipo" width="580" height="515" style="margin: 0 auto; display: block;" />
</div>
