@{
    ViewData["Title"] = "Scrum Master";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>Soy Jorge Abel Jaime, Me apasiona la tecnología y tengo el orgullo de ser el Scrum Master de iTech Project, un equipo de desarrollo formado por mis compañeros de clase. Si eres un estudiante con talento, pasión por la tecnología y ganas de trabajar en equipo, te invito a unirte a nuestro equipo. ¡Juntos podemos lograr grandes cosas!</p>
    <img src="~/JJ.png" alt="Imagen del equipo" width="370" height="600" style="margin: 0 auto; display: block;" />
</div>